name: Cypress E2E

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  practice-suite:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cypress practice smoke
        uses: cypress-io/github-action@v6.10.4
        with:
          command: npm run cy:run:practice

      - name: Upload Cypress videos (practice)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos-practice
          path: cypress/videos

      - name: Upload Cypress screenshots (practice)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots-practice
          path: cypress/screenshots

  ae-suite:
    runs-on: ubuntu-24.04
    needs: practice-suite

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cypress AE smoke
        uses: cypress-io/github-action@v6.10.4
        env:
          CYPRESS_AE_USER: ${{ secrets.AE_USER }}
          CYPRESS_AE_PASS: ${{ secrets.AE_PASS }}
        with:
          command: npm run cy:run:ae

      - name: Upload Cypress videos (AE)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos-ae
          path: cypress/videos

      - name: Upload Cypress screenshots (AE)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots-ae
          path: cypress/screenshots

  postman-api-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run Postman API tests
        env:
          AE_USER: ${{ secrets.AE_USER }}
          AE_PASS: ${{ secrets.AE_PASS }}
          AE_BASE_URL: ${{ vars.AE_BASE_URL }}

        run: npm run test:api