name: Cypress E2E

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6.10.4
        with:
          command: npm run cy:run